    <!--? slider Area Start-->
    
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft"data-delay=".2s">FORMEVO</span>
                                <h1 data-animation="fadeIn"data-delay=".4s">Votre Partenaire En Formation</h1>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                              
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5">
                            <div class="hero-man d-none d-lg-block f-right">
                                <img src="assets/assets/img/hero/heroman.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
        
        </div>
    </div>
    <!-- slider Area End-->