<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">



    <div class="row m-5">

            <h1 class="lead">
                Gestion des formations
            </h1>



            <div class="row">

                 	<!-- Extra large table -->
				<div class="card " style="width: 1000px;">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Liste des formations</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a routerLink="/board/ajoutformation" class="btn btn-success text-white" >Ajouter</a>
		                	
		                	</div>
	                	</div>
					</div>

				

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Photo</th>
									<th>titre</th>
									<th>date</th>
                                    <th>durée</th>
                                    <th>état</th>
									<th>Catégorie</th>
									<th>Action</th>
                                    
                                    
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let f of formations">
									<td><img [src]="'http://127.0.0.1/portfolio/assets/'+ f.image"  alt="" style="width: 60px;"></td>
									<td>{{f.titre}}</td>
									<td>{{f.date}}</td>
                                    <td>{{f.duree}}</td>
									<td>{{f.etat}}</td>
									<td>{{f.categorie}}</td>
                                    <td> <button (click)="delete(f.id)" class="btn btn-danger">Supprimer</button>
                                    
                                     <a [routerLink]="[ '/board/updateformation', f.id ]" class="btn btn-info">Modifier</a> 
                                    </td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- /extra large table -->   


            </div>



    </div>




</div>
</body>
</html>