
<app-heade></app-heade>
<div class="about-area section-padding2">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>More About Formevo</span>
                        <h2>Want to know more</h2>
                    </div>
                    <p>Are you a business manager, training manager, human resources manager, employee of a company or student and you want to be part of your professional training or consulting projects? Our teams are at your disposal to organize your training plan and to answer all your practical questions regarding the management of your professional training and consulting needs:

                     
                        </p>
                    <ul>
                        <li><span class="flaticon-business"></span> How to identify your training and consultancy needs?</li>
                        <li><span class="flaticon-communications-1"></span>How to make training choices or identify consulting needs?</li>
                        <li><span class="flaticon-graduated"></span>How to evaluate your vocational training and advice actions?</li>
                        <li><span class="flaticon-tools-and-utensils"></span>How to benefit from reimbursements and subsidies for FormEvo professional training?</li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="assets/assets/img/gallery/about2.png" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="assets/assets/img/gallery/about1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>