

<div class="about-area section-padding2">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>Plus d'information</span>
                        <h2>Formevo</h2>
                    </div>
                    <p>Fondé en 2018, Formevo est un bureau privé de formation et de consulting agréé par l’état tunisien, et disposant d’une équipe de formateurs expérimentés et de haut niveau qui offre une formation de pointe et répondant aux attentes du marché du travail. Il propose aussi des services variés en termes d’intégration dans la vie professionnelle et d’assistance pour décrocher un job.</p>

                     
                    <ul>
                        <li><span class="flaticon-business"></span> Solutions Entreprises (CRM/ERP/Messagerie)</li>
                        <li><span class="flaticon-communications-1"></span>Formation initiale</li>
                        <li><span class="flaticon-graduated"></span>Formation continue (métier, technique, certifiante, langue)</li>
                        <li><span class="flaticon-tools-and-utensils"></span>Service informatique (Développement web, Design, Réseau)</li>
                    </ul>
                 
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="assets/assets/img/gallery/about2.png" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="assets/assets/img/gallery/about1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>